# Binaries
/bin

# Vendor and modules
vendor/
doc/
helm/

# Editor
.vscode/
.idea/

# Git
.git
.github
.gitignore

# OS
.DS_Store

# Test and build artifacts
*.test

# Ignore local env files
.env

README:md
LICENCE
Makefile
Dockerfile