---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: webhook-backend
spec:
  provider:
    webhook:
      url: "http://eso-sops-server.{{ .Release.Namespace }}.svc.cluster.local:8080/git/sopstest/keys.json"
      result:
        jsonPath: "$.{{`{{ .remoteRef.key }}`}}"
      headers:
        Content-Type: application/json
        Authorization: Basic {{`{{ print .auth.username ":" .auth.password | b64enc }}`}}
      secrets:
      - name: auth
        secretRef:
          name: webhook-credentials
---
apiVersion: v1
kind: Secret
metadata:
  name: webhook-credentials
  labels:
    external-secrets.io/type: webhook #Needed to allow webhook to use this secret
stringData:
  username: ludger
  password: ludger